<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}Playbook | 1st Infantry Division</title>
    <link rel="stylesheet" href='{{ get_url(path="main.css") }}'>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">Playbook</a></h1>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
