{% extends "_base.html" %}

{% block content %}
{% if page.ancestors | length > 1 %}
<nav class="nav nav--breadcrumb">
    <ol>
        {% for ancestor_path in page.ancestors %}
        {% set ancestor = get_section(path=ancestor_path) %}
        <li><a href="{{ ancestor.permalink }}">{{ ancestor.title | default(value="Index") }}</a></li>
        {% endfor %}
        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
    </ol>
</nav>
{% endif %}
<h1>{{ page.title }}</h1>
<div class="content">
    {{ page.content | safe }}
</div>
{% endblock %}
